<input type="file" (change)="handleFileInput($event)" />
<div *ngIf="informacionDisponible">
  
  <div>

  <ng-container *ngFor="let category of groupedData | ObjToArray">
    <p> Categoria: <b>{{category}}</b></p>
    <div cdkDropList
        class="container"
        id="drop drop--list"
        [id]="generarID(category)"
        [cdkDropListData]="groupedData[category]"
        [cdkDropListConnectedTo]="getConnectedLists(category)"
        (cdkDropListDropped)="drop($event)"
    >
    <div cdkDrag class="block" *ngFor="let item of groupedData | KeysToArray: category">
      <ul>
        <li><span>{{ item.marca }} - {{ item.tipo }} - {{ item.clase }}</span></li>
      </ul>
    </div>
    </div>

    <hr>
    <hr>
  </ng-container>
  </div>
  <button (click)="exportData()" >Descargar XLSX</button>
</div>

<div  *ngIf="informacionNoDisponible">
  <p>Formato no aceptado</p>
</div>